body {
  margin: 0;
  font-family: "Raleway";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::-webkit-scrollbar {
    width: 0;
  }
}

@media (max-width: 998px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 45%;
  }
}

@font-face {
  font-family: "Raleway";
  src: url("./Fonts/Raleway-Thin.ttf");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Raleway";
  src: url("./Fonts/Raleway-ExtraLight.ttf");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Sora";
  src: url("./Fonts/Raleway-Light.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Raleway";
  src: url("./Fonts/Raleway-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  src: url("./Fonts/Raleway-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Raleway";
  src: url("./Fonts/Raleway-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Raleway";
  src: url("./Fonts/Raleway-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Raleway";
  src: url("./Fonts/Raleway-ExtraBold.ttf");
  font-style: normal;
  font-weight: 800;
}
